
html {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -o-background-size: 100% 100%, auto;
    -moz-background-size: 100% 100%, auto;
    -webkit-background-size: 100% 100%, auto;
    background-size: 100% 100%, auto;
   
}
#bgindex{
    background-image: url("image/bg.png");
}
#bgcity{
    background-image: url("image/city.jpg");
}
#bgice{
    background-image: url("image/ice1.png");
}

.logoZuba{
    height: 50%;
    width: 50%;
    padding-top : 150px; 
    margin-left: 45%;
}
.buttonPlay{
    height: 15%;
    width: 15%;
    margin-left: 65%;
    padding-top : 30px;
}
.imageBox{
    float: left;
    width: 150px;
    height: 160px;
    margin-top : 130px;
    
}
.imageBox1{
    float: left;
    width: 150px;
    height: 160px;
    margin-top : 50px;
    
}
.imageBox2{
    width: 150px;
    height: 160px;
    margin-top : 300px;
    
}
.imageBox3{
    width: 150px;
    height: 160px;
    margin-top : 30px;
    
}
.imageBox4{
    width: 150px;
    height: 160px;
}

.sizeImage{
    width: 150px;
    height: 160px;
}
.sizeSyntax{
    width: 120px;
    height: 130px;
}

.bag1{
    margin-left: 13%;
}
.sign1{
    margin-left: 6%;
    width: 120px;
    height: 130px;
}
.bag2{
    margin-left: 8%;
}
.sign2{
    margin-left: 6%;
    width: 120px;
    height: 130px;
}
.bag3{
    margin-left: 7%;

}
.bag4{
    margin-left: 29%;
}
.bag5{ 
    margin-left: 23%;

}
.bag6{
    margin-left: 9%;
}
.bag7{
    margin-left: 82%;  
}
